@model ResetPasswordViewModel
@{
    if (Model.isFirstLogIn)
    {
        ViewData["Title"] = "Change Password";
    }
    else
    {
        ViewData["Title"] = "Reset Password";
    }
   
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div id="preloader">
    <div class="loader"></div>
</div>


<div class="login-area login-bg">
    <div class="container">
        <div class="login-box ptb--100">
            <form id="MyForm" method="post" asp-action="@AuthenticationController.ActionChangePassword" asp-controller="@AuthenticationController.Name">
                <div class="login-form-head pb-3">
                    <h4 style="font-family:'Nunito';">Risk Analysis and Assessment</h4>
                    <hr />
                    <h5 style="font-family:'Nunito';" class="text-white">@ViewData["Title"]</h5>
                    <small class="text-white">First time signed in users must update their password.</small>
                </div>
                <div class="login-form-body">
                   
                   
                        <input type="hidden" asp-for="UserId"/> 
                        <input type="hidden" asp-for="Username" />
                        <div id="input">
                            <div class="form-group">
                                <label for="NewPassword" class="col-form-label">New Password</label>
                                <input class="form-control" type="password" asp-for="NewPassword" required>
                                <div class="invalid-feedback" id="newpass-feedback">
                                    New Password & Confirm New Password it doesn't match!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="col-form-label">Confirm New Password</label>
                                <input class="form-control" type="password" asp-for="ConfirmPassword" required>
                                <div class="invalid-feedback" id="conpass-feedback">
                                    New Password & Confirm New Password it doesn't match!
                                </div>
                            </div>
                            <div class="submit-btn-area mt-5">
                                <button id="form_submit" type="submit">Change Password <i class="ti-arrow-right"></i></button>
                            </div>
                        </div>
                  
                    

                    <hr />
                    
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            console.log('@Html.Raw(Model.EmployeeNo)')
            var password = $('#NewPassword')
            var confirmpassword = $('#ConfirmPassword')
            var invalidform = false
            $(".form-control").on("keyup keypress blur change", function () {
                $(this).removeClass('is-invalid')

            });
            
            $('#MyForm').submit(function (evt) {
                if ($(password).val() == $(confirmpassword).val() && $(password).val() != '@Html.Raw(Model.EmployeeNo)') {
                    invalidform = true
                }else{
                    var feedback = ""
                    if ($(password).val() == '@Model.EmployeeNo'){
                        feedback = "Can't use your Employee Number as your password."
                    }else{
                        feedback = "New Password & Confirm New Password it doesn't match!"
                    }
                    
                    $("#newpass-feedback").html(feedback);
                    $("#conpass-feedback").html(feedback);
                    $('#NewPassword').addClass("is-invalid")
                    $('#ConfirmPassword').addClass("is-invalid")
                }                
                if (!invalidform){
                    evt.preventDefault();
                }            
            });
            

        });
        function htmlDecode(input) {
            var doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        }
    </script>
}